/*
    Style the header -- Render that whole black part
    Pick header from header.js - the class of header container
*/

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}


/*style the logo*/
.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

/*Style search and search input*/

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__SearchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

/*style icon*/
.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

/*Style header__navOptionLine1*/
.header__navOptionLine1{
    font-size: 10px;
}

/*Style header__navOptionLine2*/
.header__navOptionLine2{
    font-size: 13px;
    font-weight: 800;
}

/*Style header__optionBasket*/
.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}

/*Style header_nav*/
.header_nav{
    display: flex;
    justify-content: space-evenly;
}

/*Style header__navOption*/
.header__navOption{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
