/*Style product*/
.product {
    display: flex; 
    flex-direction: column;
    background-color: white;
}

/*Target img inside product container*/
.product__image {
    max-height: 200px; 
    width: 100%; 
    object-fit: contain; 
    margin-bottom: 15px; 
}
